th.tab, th.tab > *
{
    cursor: pointer;
}


th.tab
{
    border-bottom: solid 1px #000;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

td > .button, td > input
{
    width: 100%;
    box-sizing:border-box;
}

@media(min-width:320px){
    section{
        padding: 1em;
        padding-top: 0;
        top:1em;
        right:1em;
        left:1em;
    }
    th.tab
    {
        font-size:80%;
    }
}

@media(min-width:641px){
    section{
        padding: 3em;
        padding-top: 0;
        top:3em;
        right:3em;
        left:3em;
    }    
    th.tab
    {
        font-size:100%;
    }
}

.progressBar
{
    left:0;
    top:0;
    bottom:0;
    color:white;
    text-align:center;
    width:0;
}

#onScreenControls > .button
{
    position: fixed;
    bottom: 10px;
    width: 32px;
    height: 32px;
}

#menuButton
{
    left: 10px;
    background-image:url(../ico/menu.png);
}

#fsButton
{
    left: 60px;
    background-image:url(../ico/fs.png);
}

#textEntry
{
    margin:10px;
}

#chatLog{
    border: solid 1px #ccc;
    padding: 1em;
    margin-top:2em;
    height:10em;
    overflow-y: scroll;
    color:#666
}

body
{
    font-family: sans-serif;
    background-color: #000;
}

html, body
{
    height: 100%;
}

html, body, canvas, video, .overlay
{
    width: 100%;
    left: 0;
    top: 0;
}

html, body, canvas, video, img
{
    padding: 0;
    margin: 0;
    border: 0;
}

canvas, video, .overlay, .progressBar
{
    position: fixed;
}

a.button
{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-width: 10px;
    border-style: solid;
}

a.button:hover{
    box-shadow: 0px 0px 15px #bbb;
}

section, .altClose, .loadBar
{
    position: absolute;
}

.altClose{
    right: 0;
    top: 0;
}

li > em{
    font-weight: bold;
    font-style: inherit;
}
    
table{
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
}

    table > thead > tr > th
    {
        padding-left:0.5em;
        padding-right:0.5em;
    }

table>tbody>tr>td
{
    padding: 3px;
    border-left: solid 1px #aaa;
}

table>tbody>tr>td:first-child
{
    border-left: none;
}

        table.tabSet > tbody > tr > td
        {
            padding: 0.5em;
        }

    table td > div
    {
        text-align: left;
    }

table > tfoot td
{
    text-align: right;
}

table > tfoot a, table > tfoot span
{
    padding-right: 1em;
    font-weight: bold;
}
