section
{
    border-radius: 10px;
    color: #2e2e2e;
    background-color: #fff;
}

th
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

th.tab, th.tab > *
{
    cursor: pointer;
}

th.tab
{
 	background-color: #eee;
	border: solid 3px #ccc;
    border-bottom: solid 1px #000;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

th.selectedTab{
	background-color: #fff;
	border-bottom: none;
}

td > .button, td > input
{
    width: 100%;
    box-sizing:border-box;
}

@media(min-width:320px){
    section{
        padding: 1em;
        padding: 1em;
        top:1em;
        right:1em;
        left:1em;
    }
    th.tab
    {
        font-size:80%;
    }
}

@media(min-width:641px){
    section{
        padding: 2em;
        padding: 3em;
        top:3em;
        right:3em;
        left:3em;
    }    
    th.tab
    {
        font-size:100%;
    }
}

.progressBar
{
    left:0;
    top:0;
    bottom:0;
    color:white;
    text-align:center;
    width:0;
}

#onScreenControls > .button
{
    position: fixed;
    bottom: 10px;
    width: 32px;
    height: 32px;
}

#menuButton
{
    left: 10px;
    background-image:url(../ico/menu.png);
}

#fsButton
{
    left: 50px;
    background-image:url(../ico/fs.png);
}

#textEntry
{
    margin:10px;
}

#chatLog{
    border: solid 1px #ccc;
    padding: 1em;
    margin-top:2em;
    height:10em;
    overflow-y: scroll;
    color:#666
}

body
{
    font-family: sans-serif;
    background-color: #000;
}

html, body
{
    height: 100%;
}

html, body, canvas, video, .overlay
{
    width: 100%;
    left: 0;
    top: 0;
}

html, body, canvas, video, img
{
    padding: 0;
    margin: 0;
    border: 0;
}

canvas, video, .overlay, .progressBar
{
    position: fixed;
}

a.blue.button{
    background-color: #123197;
    border-color: #123197;
    color: #fff;
}

    a.blue.button:hover
    {
        background-color: #3555bd;
        border-color: #3555bd;
    }

    a.blue.button:active
    {
        background-color: #1b2c63;
        border-color: #1b2c63;
    }

a.red.button{
    background-color: #d00;
    border-color: #d00;
    color: #fff;
}
    a.red.button:hover
    {
        background-color: #e00;
        border-color: #e00;
    }

    a.red.button:active
    {
        background-color: #e00;
        border-color: #e00;
    }

a.button
{
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-width: 10px;
    border-style: solid;
}

a.button:hover{
    box-shadow: 0px 0px 15px #bbb;
}

section, .altClose, .loadBar
{
    position: absolute;
}

.altClose{
    right: 0;
    top: 0;
}

table.tabSet
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table{
    border-width: 1px;
    border-color: #aaa;
    border-style: solid;
    border-spacing: 0;
}

    table, table > thead
    {
        background-color: #ccc;
    }

    table > tfoot
    {
        background-color: #eee;
    }

    table > thead > tr > th
    {
        padding-left:0.5em;
        padding-right:0.5em;
    }

table>tbody>tr>td
{
    padding: 3px;
    border-right: solid 1px #aaa;
}

        table.tabSet > tbody > tr > td
        {
            padding: 0.5em;
        }

    table td > div
    {
        text-align: left;
    }
    
table > tbody
{
    background-color: #fff;
}

table > tbody > tr.alternateRow
{
    background-color:#f7f7f7;
}

table > tfoot td
{
    text-align: right;
}

table > tfoot a, table > tfoot span
{
    padding-right: 1em;
    font-weight: bold;
}
