<label>About</label>
<div>
    <p>This WebGL application demonstrates the use of open source software--such as Blender for 3D modeling--and open standards (HTML5, WebGL, Collada, etc.) to be able to experience 3D scenes with a variety of output features (stereo rendering, 3D audio) and input systems (keyboard, mouse, touch screen, motion tracking, gamepads) on a variety of platforms. Most of these options are enabled in the options menu, accessible from the button in the lower-left corner.</p>
    <p>Additionally, the project includes a proxying system for user input. By loading the application in separate browser sessions and specifying a secret key in the options screen, the browser sessions will share between each other the commands the user has activated. This is useful for Google Cardboard-style head-mounted displays built around smartphones, allowing this user to utilize the keyboard, mouse, or gamepad attached to their PC with the application running on the smartphone. NOTE: you will experience a lot of latency if you setup the proxy connection with this Website. This feature is primarily suggested for use on local WiFi networks, with the application hosted on your own PC.</p>
    <p>When you close this box, the application will go into full screen mode. If you prefer to hide the mouse cursor, there is an option to activate the mouse cursor lock in the options screen. When you are done, just hit your escape key on your keyboard, or tap your phones' menu button, to exit full screen mode.</p>
    <h2>Screenshot</h2>
    <img src="img/screenshot.png" alt="screenshot" style="width:100%" />
    <h2>Credits</h2>
    <p>
        <ul>
            <li>Background music: <a href="http://www.hive76.org/hive76-mourns-the-loss-of-our-friend-and-president-brendan-schrader">Brendan Schrader</a></li>
            <li>Ambient sound: <a href="https://soundcloud.com/alejandro-erickson/juan-de-fuca-campfire-and-ocean">Alejandro Erickson</a></li>
            <li>Programming, modeling, and texture work: Sean T. McBeth</li>
        </ul>
    </p>
</div>