<label>About</label>
<div>
    <p>Psychologist.js is a framework for rapidly prototyping virtual reality applications using standard HTML5 technologies. It keeps you sane while bending your mind.</p>
    <p>[<a href="https://github.com/capnmidnight/VR" target="_blank">Github</a>
        | <a href="https://github.com/capnmidnight/VR/issues" target="_blank">Issues</a>
        | <a href="mailto:sean@seanmcbeth.com?subject=Psychologist.js">Contact</a>]</p>
    <h2>Features:</h2>
    <ul>
        <li><em>Google Cardboard compatible:</em> use your smartphone as a head-mounted display,</li>
        <li><em>Multiplayer:</em> share the experience and collaborate in cyberspace,</li>
        <li><em>Leap Motion support:</em> control objects with natural movement,</li>
        <li><em>Game pad support:</em> create fast-action games,</li>
        <li><em>Speech recognition:</em> hands free interactions,</li>
        <li><em>Peer-2-peer input sharing:</em> use devices connected to your PC with your Google Cardboard,</li>
        <li><em>3D Audio:</em> create fully immersive environments,</li>
        <li><em>App Cache support:</em> save bandwidth,</li>
        <li><em>Blender-based workflow:</em> no proprietary tools to learn,</li>
        <li><em>Cross-platform:</em> works in Mozilla Firefox and Google Chrome on Windows, Linux, and Android,</li>
        <li><em>Oculus Rift support (coming soon):</em> the cutting edge of head-mounted display technology.</li>
    </ul>
    <h2>Screenshot</h2>
    <img src="img/screenshot2.png" alt="screenshot" style="width:100%" title="really, the only reason I have this here is so social media sites see it and can auto-tag the image when I post" />
</div>