*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, div, #menu{
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body, div, #menu{
    width: 100%;
}

html, div, body
{
    height: 100%;
    background-color:#000000;
    left: 0;
    top: 0;
}

#menu
{
    bottom:0;
}

a.button {
    text-align: center;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color:#bbb;
}
    
a.button:hover {
    background-color: #ccc;
}
    
a.button:active {
    background-color: #ddd;
}